@font-face {
    font-family: font;
    src: url(/wonton-by-da-font-mafia.woff2);
}

@font-face {
    font-family: phont;
    src: url(/tt2020-style-f-regular-ascii.woff2);
}


*{
    padding: 0;
margin: 0;
}

body{
    background-color: rgb(66, 99, 93);
    user-select: none;
    font-family: font, sans-serif;
}

#indexbod{
    overflow: hidden;
}


#caption{
    width: 100vw;
    text-align: center;
    font-size: 8vw;
    text-shadow: 0 0 13px rgb(217, 146, 219);
    margin-top: 50px;
    z-index: 5;
}

.categories{
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    font-size: 3em;
    justify-content: space-around;
    position: absolute;
    top: 100px;
    width: 99vw;


}

.drink{
    border: 1px solid rgb(0, 0, 0);
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    width: 25vw;
    color: rgb(0, 0, 0);
    text-align: center;
    transition: 1s;
}

.active{
    text-shadow: 0 0 15px red;
}

.drink:hover{
    text-shadow: 0 0 15px red;}

.qwer{
    position: absolute;
    right: 0;
    top: 50px;
}

.dragon{
    position: absolute;
    right: 50px;
    width: 45vw;
}


.list{
position: absolute;
    top: 200px;
}


.desc, .descevent{
    justify-content: center;
    width: 99vw;
    
    display: flex;
    height: 15vw;

}

.name, .ing, .price, .container{
    border: 1px solid black;
    width: 20vw;
    font-size: 2.3em;
    color: rgb(0, 0, 0);
    text-align: center;
    align-content: center;
    
}

.imgdrink{
    height: 12vw;
    transition: 1s;

}

.small 

.name{
    font-size: 2.3em;
    
}
.imgdrink:hover{
    height: 15vw;


}

.soft, .noalc{
    display: none;
}


.linkpage{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 2em;
    z-index: 6;
    transition: 1s;
}

.linkpage:hover{
    text-shadow: 0 0 15px red;
}


.days{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    margin-left: 3.5em;
    font-size: 3em;
}

.day{
    transition: 1s;
    z-index: 5;

}

.day:hover{
    text-shadow: 0 0 15px red;
}

.event{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 20vw;
    font-size: 2.5em;
    width: 60vw;
    align-items: center;
}


.eventpic{
    display: flex;
    flex-direction: row;
    width: 60vw;
    margin-left: 25vw;
    margin-top: 2em;
}

.eventimg{
    height: 7em;
}

#mafia, #karaoke,#band,#book,#dogcafe,#movie{
    display: none;
}

.nameEvent{
    margin-top: 1em;
    font-size: 1.7em;
}

.descevent{
    font-size: 1.3em;
    align-items: center;
}

#tree{
    position: absolute;
    right: 0;
    height: 70vh;
    top: 15vh;

}


#flower{
    position: absolute;
    left: 12vw;
    top: 7vh;
    height: 50vh;
    z-index: -2;
}
.note{
    font-family: phont, sans-serif;
    font-size: 2.5vw;
    position: absolute;
    opacity: 0.5;
}

#na{
    transform: rotate(15deg);
    top: 25vh;
    left: 5vh;

}

#am{
    transform: rotate(330deg);
    top: 50vh;
    left: 50vh;

}


#aa{
    transform: rotate(3deg);
    bottom: 25vh;
    right: 25vh;

}

.btmMenu{
    font-size: 10vh;
    width: 100vw;
    text-align: center;
    margin-top: 23vh;
}

.btmEvde{
    font-size: 10vh;
    width: 100vw;
    text-align: center;
    margin-top: 38vh;
    
}

#drinkz{
    width: 100vw;
    position: absolute;
    bottom: 25px;
    display: flex;
    justify-content: space-evenly;
}

#drinkz img{
    height: 20vh;
    transition: 3s;
}

#drinkz img:hover{
    transform: rotate(720deg);
}

#cocktailz{
    width: 100vw;
    position: absolute;
    bottom: 25px;
    display: flex;
    justify-content: space-evenly;
}

#cocktailz img{
    height: 5vh;
    transition: 3s;
    opacity: 0;
    animation-duration: 3s;

}

@keyframes showCocktail {
    to{
        opacity: 1;
        height: 20vh;
        transform: translateY(100px);
    }
}