@font-face {
    font-family: font;
    src: url(/wonton-by-da-font-mafia.woff2);
}


*{
    padding: 0;
margin: 0;
}

body{
    background-color: rgb(66, 99, 93);
    user-select: none;
    font-family: font, sans-serif;
}
#caption{
    width: 100vw;
    text-align: center;
    font-size: 10vw;
    text-shadow: 0 0 13px rgb(217, 146, 219);
    margin-top: 50px;
    z-index: 5;
}

.categories{
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    font-size: 3em;
    justify-content: space-around;
    position: absolute;
    top: 100px;
    width: 99vw;


}

.drink{
    border: 1px solid rgb(0, 0, 0);
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    width: 25vw;
    color: rgb(0, 0, 0);
    text-align: center;
    transition: 1s;
}

.active{
    text-shadow: 0 0 15px red;
}

.drink:hover{
    text-shadow: 0 0 15px red;}

.qwer{
    position: absolute;
    right: 0;
    top: 50px;
}

.dragon{
    position: absolute;
    right: 50px;
    width: 45vw;
}


.list{
position: absolute;
    top: 200px;
}


.desc{
    justify-content: center;
    width: 99vw;
    
    display: flex;
    height: 15vw;

}

.name, .ing, .price, .container{
    border: 1px solid black;
    width: 20vw;
    font-size: 2.3em;
    color: rgb(0, 0, 0);
    text-align: center;
    align-content: center;
    
}

.imgdrink{
    height: 12vw;
    transition: 1s;

}

.small 

.name{
    font-size: 2.3em;
    
}
.imgdrink:hover{
    height: 15vw;


}

.soft{
    display: none;
}


.linkpage{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 2em;
    z-index: 1;
    transition: 1s;
}

.linkpage:hover{
    text-shadow: 0 0 15px red;
}


.days{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    margin-left: 3.5em;
    font-size: 3em;
}

.day{
    transition: 1s;

}

.day:hover{
    text-shadow: 0 0 15px red;
}

.event{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.5em;
    width: 60vw;
}

.eventimg{
    height: 7em;
}