*{
    padding: 0;
margin: 0;
}

body{
    background-color: bisque;
}
#caption{
    width: 100vw;
    text-align: center;
    font-size: 10vw;
    text-shadow: 0 0 13px rgb(217, 146, 219);
    margin-top: 50px;
    z-index: 5;
}